.headingFlex {
  display: flex;
  justify-content: space-between;
}
.headerBtns {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.searchbar {
}
.searchInput {
  width: 550px;
}
.suggestions {
  z-index: 99999;
  position: absolute;
  top: 50px;
  color: #000000;
  opacity: 1 !important;
  visibility: unset !important;
  display: flex;
  flex-direction: column;
}