.headingFlex {
  display: flex;
  justify-content: space-between;
}
.headerBtns {
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.searchInput {
  width: 550px;
}
.suggestions {
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  z-index: 9999;
  position: absolute;
  top: 60px;
  color: #000000;
  opacity: 1 !important;
  visibility: unset !important;
  display: flex;
  flex-direction: column;
}
.suggestionLink {
  display: block;
  transition: 0.30s;
}
.suggestionLink:hover {
  background-color: var(--ion-color-light);
}
.profileMenu {
  z-index: 9999;
  position: fixed;
  min-height: 380px;
  min-width: 250px;
  top: 62px;
  right: 15px;
  background-color: var(--ion-color-light);
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
}
.profileMenu a {
  padding: 20px;
  border-bottom: 1px var(--ion-color-primary) solid;
  border-radius: 0px;
}
.profileMenu a:hover {
  background-color: #ffffff;
}
.profileMenu ion-button {
  margin: 10px 5px;
}